<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div id="nav-group">
        {% include 'ide/constant.html' %}
        <nav class="nav-bar">
            <li>
                <a href="{% url 'ide:login' %}">Log In</a>
            </li>
            <li>
                <a href="{% url 'ide:signup' %}">Sign Up</a>
            </li>
        </nav>
    </div>
</body>
</html>