<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'ide/styles.css' %}">
    <title>Log In</title>
</head>
<body>
    {% include 'ide/constant.html' %}
    <div class="modal-box">
        <div id="login-form">
            <!-- form action to be updated later -->
            <form action="" method="post">
                <fieldset>
                    <legend>Login</legend>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div id="submit-button">
                        <button type="submit">Log in</button>
                    </div>
                    <div id="signup_link">
                        <li>Don't have an account?<a href="{% url 'ide:signup' %}">sign up</a></li>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <!-- add social accounts -->
    <div class="footer">
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-google"></i></a>
    </div>
    {% include 'ide/footer.html' %}
</body>
</html>